@model Sway.Models.Assessment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Assessment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="aName" class="control-label"></label>
                <input asp-for="aName" class="form-control" />
                <span asp-validation-for="aName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="aSentiment" class="control-label"></label>
                <input asp-for="aSentiment" class="form-control" />
                <span asp-validation-for="aSentiment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="aPosSentiment" class="control-label"></label>
                <input asp-for="aPosSentiment" class="form-control" />
                <span asp-validation-for="aPosSentiment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="aNegSentiment" class="control-label"></label>
                <input asp-for="aNegSentiment" class="form-control" />
                <span asp-validation-for="aNegSentiment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpinionID" class="control-label"></label>
                <select asp-for="OpinionID" class ="form-control" asp-items="ViewBag.OpinionID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
