@model Sway.Models.Phrase

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Phrase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="pName" class="control-label"></label>
                <input asp-for="pName" class="form-control" />
                <span asp-validation-for="pName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sentiment" class="control-label"></label>
                <input asp-for="sentiment" class="form-control" />
                <span asp-validation-for="sentiment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="posSentiment" class="control-label"></label>
                <input asp-for="posSentiment" class="form-control" />
                <span asp-validation-for="posSentiment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="negSentiment" class="control-label"></label>
                <input asp-for="negSentiment" class="form-control" />
                <span asp-validation-for="negSentiment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="neutralSentiment" class="control-label"></label>
                <input asp-for="neutralSentiment" class="form-control" />
                <span asp-validation-for="neutralSentiment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentID" class="control-label"></label>
                <select asp-for="DocumentID" class ="form-control" asp-items="ViewBag.DocumentID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
