@model Sway.Models.Document

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Document</h4>
    <hr />
    <dl class="row">
       
        @foreach(var doc in ViewBag.docList)
        {
        <dd class = "col-sm-10">
            @doc
        </dd>
        }

    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
